.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.quartz/
!.quartz/
.quartz/*
!.quartz/plugins/
.quartz/plugins/*
!.quartz/plugins/explorer/
.quartz/plugins/explorer/*
!.quartz/plugins/explorer/src/
.quartz/plugins/explorer/src/*
!.quartz/plugins/explorer/src/components/
.quartz/plugins/explorer/src/components/*
!.quartz/plugins/explorer/src/components/Explorer.tsx
!.quartz/plugins/explorer/src/components/scripts/
.quartz/plugins/explorer/src/components/scripts/*
!.quartz/plugins/explorer/src/components/scripts/explorer.inline.ts
!.quartz/plugins/explorer/src/components/styles/
.quartz/plugins/explorer/src/components/styles/*
!.quartz/plugins/explorer/src/components/styles/explorer.scss
!.quartz/plugins/content-index/
.quartz/plugins/content-index/*
!.quartz/plugins/content-index/src/
.quartz/plugins/content-index/src/*
!.quartz/plugins/content-index/src/emitter.ts
!.quartz/plugins/content-index/test/
.quartz/plugins/content-index/test/*
!.quartz/plugins/content-index/test/emitter.test.ts
!.quartz/plugins/note-properties/
.quartz/plugins/note-properties/*
!.quartz/plugins/note-properties/src/
.quartz/plugins/note-properties/src/*
!.quartz/plugins/note-properties/src/transformer.ts
quartz/cli/tui/dist/
content/
